@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  background: #191919;
}

/* HOVER */
.nav-link.active,
.nav-link:hover {
  background: #ffca2c;
  transition: 0.5s;
}

/* CARROUSEL */
  .section-padding {
    padding: 100px 0;
  }
  .carousel-item {
    height: 100vh;
    min-height: 300px;
  }
  .carousel-caption {
    bottom: 220px;
    z-index: 2;
  }
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  .carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
  .carousel-inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

/* NAVBAR  */

.navbar .getstarted {
  background: #106eea;
  margin-left: 30px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  line-height: 2.3;
}
.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-light .navbar-brand {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #000;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}
.w-100 {
  height: 100vh;
}
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}
.dropend .dropdown-toggle {
  color: #ffca2c;
  margin-left: 1em;
}
.dropdown-item:hover {
  background-color: black;
  color: #fff;
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
@media screen and (min-width: 992px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}

/* CUERPO */

.portfolio .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
  font-size: 50px;
}
.team .card-body i {
  font-size: 20px;
}

/* LOGIN */

.about {
  background-color: #191919;
}
.form {
  width: 100%;
  background: #191919;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra los elementos verticalmente */
}
.form h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.form label {
  color: white;
}
.form input[type="email"],
.form input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.form input[type="email"]:focus,
.form input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.form input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.form input[type="submit"]:hover {
  background: #2ecc71;
}
.form a {
  color: yellow;
  font-size: 20px;
}
.form a:hover {
  color: black;
}
.form a:visited {
  color: yellow;
}

/* MAPA DEL SITIO */
.about-text {
  color: white;
}
.about-text a:hover {
  color: black;
}

/* FOOTER */
.footerDiv {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Hace que las cajas tengan la misma altura */
  width: 100%;
}

.footerDiv > div {
  flex: 1; /* Ambas columnas ocupan el mismo ancho */
}

.contactoBottom {
  height: 100%; /* Asegura que las cajas llenen el espacio disponible */
  background-color: #f8f9fa; /* Fondo blanco para las cajas */
  padding: 20px;
}

#contact {
  background-color: #ff00ff; /* Fondo para diferenciarlo visualmente */
  padding: 0; /* Ajusta el padding general */
  margin-bottom: 0;
  border: 1px solid black;  

}
body, html {
  height: 100%; /* Asegura que el cuerpo ocupe toda la ventana */
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Toma el espacio restante entre el header y el footer */
}

footer {
  position: relative; /* Se queda al fondo */
  bottom: 0;
  width: 100%;
  margin: 0;

}

/* PAGINADOR */
.paginador{
  display: flex;
  justify-content: center;
}


/* Responsive */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 370px;
  }
  .carousel-caption p {
    width: 100%;
  }
  .card {
    margin-bottom: 30px;
  }
  .img-area img {
    width: 100%;
  }
  .paginador{
    
  }
}
@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption h5 {
    font-size: 17px;
  }
  .carousel-caption a {
    padding: 10px 15px;
    font-size: 15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
  .about-text {
    padding-top: 50px;
  }
  .card {
    margin-bottom: 30px;
  }
}


/* LISTADOS */
table {
  border-collapse: collapse;
  font-size: 16px;
  min-width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.botonesTD {
    padding: 5px;
    vertical-align: top; 
}

.formContainerSolicitud {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center; 
}

.formContainerSolicitud form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}



table thead th {
  background-color: #ffca2c;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

table tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

table tbody tr:hover {
  background-color: #dee2e6;
  cursor: pointer;
}

table td img {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* table th,
table td {
  padding: 12px 15px;
  vertical-align: middle;
} */

.linkTabla{
  color: #000000;
  text-decoration: none;
}

/* Estilo para los botones */
button {
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

button.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
}

button.btn-primary:hover {
  background-color: #0056b3;
}

button.btn-danger {
  background-color: #dc3545;
  border: none;
  color: white;
}

button.btn-danger:hover {
  background-color: #a71d2a;
}

/* Estilo para el Buscador */
/* General */
/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Fondo claro */
/* color: #343a40; Texto oscuro
} */

/* Títulos */
/* h1.display-4 {
    font-weight: bold;
    color: #007bff;
} */

/* h2.h5 {
    font-size: 1.25rem;
    color: #6c757d; Texto gris
} */

/* Inputs y botones */
/* .form-control {
    border: 2px solid #007bff;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn-info {
    background-color: #007bff;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-link {
    color: #17a2b8;
    text-decoration: underline;
} */

/* Tablas */
/* .table thead th {
    background-color: #e9ecef;
    font-weight: bold;
}

.table-hover tbody tr:hover {
    background-color: #f1f3f5;
} */

/* Paginación */
/* .pagination .page-link {
    color: #007bff;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-link:hover {
    background-color: #e2e6ea;
    color: #0056b3;
} */

/* Espaciados */
/* .container {
    margin-top: 20px;
}

.table-container {
    margin-bottom: 30px;
}

.text-end {
    margin-top: 10px;
} */


/* Listado de Locales */

.centered { 
  display: flex;
  justify-content: center;
}

.locales {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
  border: #ffca2c solid 5px;
  background-color: white;
  border-radius: 25px;
  padding: 10px; /* Agrega espacio interno */
  height: auto;  /* Se ajusta al contenido */
  min-height: 200px; /* Opcional: altura mínima */  
}

.imgContainer img {
  max-width: 180px;
}

.textContainer {
  text-align: center;
  max-width: 1000px; /* Ajusta esto según sea necesario */
  width: auto; /* Asegura que ocupe el ancho completo del contenedor padre */
  box-sizing: border-box;
  word-wrap: break-word; /* Asegura que las palabras largas se rompan */
  white-space: normal; /* Permite que el texto se ajuste en múltiples líneas */
  overflow: hidden; /* Cambiado a hidden para evitar desbordamiento */
  padding: 10px; /* Agregado padding para mejorar la legibilidad */
}

.textContainer h2 {
  margin: 10px 0;
}

.containerButton {
  max-width: 200px;
  border: #ffca2c solid 5px;
}
.textContainer h1 {
  word-wrap: break-word; /* Allows words to break */
  overflow-wrap: break-word; /* For older browsers */
  margin: 0; /* Reset default margins that might add to the width */
  padding: 0; /* Reset default padding */
  font-size: 2.5em; /* Adjust font size if necessary */
  /* The following is the KEY for long titles */
  display: -webkit-box; /* Needed for webkit browsers */
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical; /* Vertical orientation */
  overflow: hidden; /* Hide any further overflow */

}
.textContainer h4, .textContainer p {
  /* white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;  */
  margin: 5px 0; /* Add some spacing back */
}
.parrafo p{
  font-size: 25px;
}
@media (max-width: 768px) {
  .textContainer {
      max-width: 90%; /* O un valor específico en píxeles */
  }
}
@media (max-width: 768px) { /* Ajusta este valor según sea necesario */
  .locales {
    flex-direction: column; /* Apila los elementos en pantallas pequeñas */
    align-items: center; /* Centra los elementos */
    width: 100%; /* Opcional: ajusta el ancho al 100% */
  }

  .textContainer {
    max-width: 90%; /* Evita que el texto se extienda demasiado */
  }
}

/* Listado de Promociones */


.promociones {
  width: auto;
  text-align: center;
  margin-bottom: 20px;
  border: #ffca2c solid 5px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Apila verticalmente */
  gap: 10px;
  padding: 10px; /* Agrega espacio interno */
  height: auto;  /* Se ajusta al contenido */
  min-height: 200px; /* Opcional: altura mínima */
}
.promocionesAdmin {
  width: auto;
  text-align: center;
  margin: 20px auto;
  border: #ffca2c solid 5px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; /* Apila verticalmente */
  gap: 20px;
  padding: 10px; /* Agrega espacio interno */
  height: auto;  /* Se ajusta al contenido */
  min-height: 200px; /* Opcional: altura mínima */

 /
}
@media (max-width: 768px) { /* Ajusta este valor según sea necesario */
  .promocionesAdmin {
    flex-direction: column; /* Apila los elementos en pantallas pequeñas */
    align-items: center; /* Centra los elementos */
    width: 100%; /* Opcional: ajusta el ancho al 100% */
  }
}
/* @media (max-width: 768px) { 
  .ndea {
    width: 412px;
  }
} */
.textContainer2 {
  width: 100%;
}


@media only screen and (min-width: 400px) and (max-width: 900px) {
  .promociones{
    width: 380px;
    height: 250px;
  }
}


/* Calendario */

.calendarContainer {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  /* width: 275px; */
  width: 100%; /* Asegura que ocupe el ancho completo del contenedor */
  text-align: center;
  min-width: 200px;
  border: #ffca2c solid 5px;
}
.calendarContainer p{
  font-weight: bold;  /* Negrita */
  text-transform: uppercase;
}
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.calendarContainer button {
  margin-top: 10px;
  padding: 10px 15px;
  background: #ffca2c;
  color: black;
  border: black solid 3px;
  border-radius: 5px;
  cursor: pointer;
}
.calendarios{
  display: flex;
  justify-content: center; /* Alinea los elementos a la izquierda */
  align-items: flex-start; /* Asegura que todos los elementos comiencen desde la parte superior */
  gap: 20px; /* Espaciado entre columnas */
}

.columnaFiltro {
  display: flex;
  flex-direction: column; /* Asegura que los elementos dentro estén apilados verticalmente */
  flex: 1; /* Ajusta el tamaño de las columnas para ocupar el espacio disponible */
  max-width: 400px; /* Opcional: Limita el ancho máximo de la columna */
}



/* CARGAR PROMOCIONES */

/* Ajustar la altura de la página considerando la navbar y el footer */
body, html {
  height: 100vh; /* Asegura que todo encaje en la pantalla */
  display: flex;
  flex-direction: column;
}

/* Contenedor principal para centrar el formulario sin ocupar todo el espacio */
.main-container {
  flex: 1; /* Hace que ocupe el espacio restante entre navbar y footer */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Estilos del formulario */
.form-container {
  width: 90%;
  max-width: 450px; /* Más compacto */
  padding: 5px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 70vh; /* Limita la altura para evitar que se corte */
  overflow-y: auto; /* Permite desplazarse si es necesario */

}

/* Ajuste del selector múltiple */
select[multiple] {
  height: 120px; /* Más compacto */
  overflow-y: auto;
}

/* Estilos generales para los inputs */
.form-select,
.form-control {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 8px;
}

/* Botones */
.botonPromo, .btn-outline-primary {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  formorder-radius: 6px;
}

/* Mejorar la apariencia en pantallas pequeñas */
@media (max-width: 600px) {
  .form-container {
      width: 95%;
      max-width: 400px;
      padding: 10px;
  }
}

.botonAnashe {
  width: 50px;
}

.from{
  width: auto;
}

.sexo {
  width: 300px; /* Igual al ancho esperado */
  height: 38px; /* Igual al filtro y al buscador */
  font-size: 16px; /* Tamaño de texto uniforme */
  border-radius: 20px; /* Borde redondeado como el buscador */
  padding: 0; /* Alinea el texto correctamente */
  display: flex; 
  align-items: center; 
  justify-content: center; /* Centra el contenido */
}







