version: "3.8"

services:
  apache-app:
    image: apache-mysqli
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ".:/var/www/html"
    networks:
      - app-network

  mysql:
    image: mysql
    volumes:
      - "./DB:/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: pw
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin
    environment:
      PMA_HOST: mysql
      LANG: es
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
